@tailwind base;
@tailwind components;

.bg-black-alt {
    background: #191919;
}
.text-black-alt {
    color: #191919;
}
.border-black-alt {
    border-color: #191919;
}

.gradient {
    background: linear-gradient(90deg, #26b748 0%, #a7de62 100%);
}

.icon-search {
    top: 0.375rem;
    left: 1.75rem;
}

@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

.font-family-karla {
    font-family: karla;
}

@tailwind utilities;
